// Sizes
$default-body-font-size: 16px;
$min-navbar-height: 52px;

// Timings
$default-link-transition-duration: 250ms;

// Colors
$light: #F2F2F2;
$dark: #222222;
$link-color: #0000EE;

// Positioning
$gap: 32px;

// Breakpoints: they represent a minimum (or maximum) view width
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

// Positioning
$spacer: 1;
$dimensions: (0: 0, 1: 0.25, 2: 0.5, 3: 1, 4: 1.5, 5: 3);