// Configuration
$load-normalize: true;

// Color palettes (inspired by Bulma)
$light: #FFFFFF;
$light-gray: #f0f2f4;
$dark: #222222;
$dark-darker: #161616;
$link: #4258ff;
$primary: #00d1b2;
$primary-darker: #00ad94;
$info: #66d1ff;
$info-darker: #5cc3ef;
$success: #48c78e;
$success-darker: #3eae7c;
$warning: #ffb70f;
$warning-darker: #dea113;
$danger: #ff6685;
$danger-darker: #ca516a;

// General defaults
$default-body-font-size: 16px;
$default-line-height: $default-body-font-size * 1.5;
$default-text-color: $dark;
$default-link-color: $link;

// Positioning
$gap: 32px;

// Breakpoints: they represent a minimum (or maximum) view width
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

// Positioning
$spacer: 1;
$dimensions: (0: 0, 1: 0.25, 2: 0.5, 3: 1, 4: 1.5, 5: 3);

// Navbar
$min-navbar-height: 52px;
$navbar-link-color: $dark;
$navbar-dropdown-background-color: $light;
$navbar-dropdown-link-hover-color: $light-gray;
$navbar-dropdown-border-radius: 12px;
$navbar-dropdown-border-color: $light-gray;
$navbar-hamburger-color: $dark;

// Buttons
$button-border-radius: 5px;

// Section
$section-padding: 3rem;