@use "./config" as conf;

body {
  font-size: conf.$default-body-font-size;
  color: conf.$default-text-color;
  line-height: conf.$default-line-height;
}

a {
  text-decoration: none;
  color: conf.$default-link-color;
  transition-duration: 250ms;
  transition-property: background-color, border-color, color;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 2em;
  line-height: 1.2;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3;
}

h3 {
  font-size: 1.17em;
  line-height: 1.4;
}

h4 {
  font-size: 1em;
  line-height: 1.5;
}

h5 {
  font-size: 0.83em;
  line-height: 1.6;
}

h6 {
  font-size: 0.67em;
  line-height: 1.6;
}