@use "./config" as conf;

body {
  font-size: conf.$default-body-font-size;
  color: conf.$default-text-color;
}

a {
  text-decoration: none;
  color: conf.$default-link-color;
  transition-duration: 250ms;
  transition-property: background-color, border-color, color;

  &:hover {
    text-decoration: underline;
  }
}