@use "./config" as conf;

body {
  font-size: conf.$default-body-font-size;
}

a {
  text-decoration: none;
  color: conf.$link-color;
  transition-duration: conf.$default-link-transition-duration;
  transition-property: background-color, border-color, color;

  &:hover {
    text-decoration: underline;
  }
}