@use "sass:map";
@use "../config" as conf;

// Breakpoint specific styling and mixins.
@mixin breakpoint-up($name) {
  $breakpoint: map.get(conf.$grid-breakpoints, $name);
  @media screen and (min-width: #{$breakpoint}) {
    @content;
  }
}

@mixin breakpoint-down($name) {
  $breakpoint: map.get(conf.$grid-breakpoints, $name);
  @media screen and (max-width: #{$breakpoint}) {
    @content;
  }
}

@mixin breakpoint-between($name-left, $name-right) {
  $breakpoint-left: map.get(conf.$grid-breakpoints, $name-left);
  $breakpoint-right: map.get(conf.$grid-breakpoints, $name-right);
  @media screen and (min-width: #{$breakpoint-left}) and (max-width: #{$breakpoint-right}) {
    @content;
  }
}