@use "../config" as conf;
@use "../utils/breakpoints" as bp;
@use "../themes" as theme;

.navbar {
  @each $name, $value in theme.$theme-map {
    &.navbar-#{$name} {
      background-color: map-get($value, "main-color");

      .navbar-item:hover,
      .navbar-link:hover,
      .navbar-item.is-active {
        background-color: map-get($value, "main-color-darker");
      }

      $link-color: map-get($value, "text-color");
      .navbar-item,
      .navbar-link {
        color: $link-color;
      }

      .navbar-link::after {
        border-color: $link-color;
      }
    }
  }

  display: flex;
  align-items: stretch;
  min-height: conf.$min-navbar-height;

  .container {
    display: flex;
    align-items: stretch;
    width: 100%;

    .navbar-brand .navbar-item {
      margin-inline-start: -0.75rem;
    }

    @include bp.breakpoint-down(lg) {
      padding-left: 0;
      padding-right: 0;
      flex-direction: column;
      justify-content: center;

      .navbar-brand {
        min-height: conf.$min-navbar-height;

        a {
          &.navbar-item {
            margin-inline-start: 0;
          }

          &.navbar-burger {
            margin-inline-end: 0.75rem;
          }
        }
      }
    }
  }

  .navbar-brand {
    display: flex;
    align-items: stretch;
    @include bp.breakpoint-down(lg) {
      justify-content: space-between;
      width: 100%;
    }
    flex-shrink: 0;

    .navbar-burger {
      @include bp.breakpoint-up(lg) {
        display: none;
      }

      display: inline-flex;
      align-items: center;
      gap: 1px;
      color: conf.$navbar-hamburger-color;
      cursor: pointer;
      flex-direction: column;
      flex-shrink: 0;
      height: 2rem;
      justify-content: center;
      position: relative;
      vertical-align: top;
      width: 2rem;
      align-self: center;

      span {
        background-color: currentColor;
        display: block;
        height: 2px;
        position: absolute;
        transform-origin: center;
        transition-property: background-color, color, opacity, transform;
        width: 20px;

        &:nth-child(1), &:nth-child(2) {
          left: calc(50% - (20px) / 2);
        }

        &:nth-child(3) {
          bottom: calc(50% + 5px);
        }

        &:nth-child(4) {
          top: calc(50% + 5px);
        }
      }
    }
  }

  .navbar-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;

    &.has-dropdown {
      @include bp.breakpoint-down(lg) {
        flex-direction: column;
        align-items: start;
        padding: 0;

        .navbar-link {
          width: 100%;
          padding: 0.5rem 0.75rem;
        }
      }

      &:hover > .navbar-dropdown {
        @include bp.breakpoint-up(lg) {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .navbar-item,
  .navbar-link {
    line-height: 1.5;
    position: relative;
    color: conf.$navbar-link-color;
    cursor: pointer;
  }

  .navbar-link {
    padding-inline-end: 2em;

    &::after {
      inset-inline-end: 0.5em;
      @include bp.breakpoint-down(lg) {
        inset-inline-end: 1.2em;
      }
      border: .125em solid conf.$navbar-link-color;
      border-right: 0;
      border-top: 0;
      content: " ";
      display: block;
      height: .625em;
      margin-top: -0.4375em;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: rotate(-45deg);
      transform-origin: center;
      transition-duration: 250ms;
      transition-property: border-color;
      width: .625em
    }
  }

  .navbar-menu {
    display: none;
    @include bp.breakpoint-up(lg) {
      display: flex;
    }

    &.is-active {
      display: flex;
    }

    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0;

    .navbar-start {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
    }

    .navbar-end {
      display: flex;
      align-items: stretch;
      justify-content: flex-end;
      margin-inline-start: auto;
    }

    .navbar-start, .navbar-end {
      @include bp.breakpoint-down(lg) {
        flex-direction: column;
        width: 100%;
      }
    }

    .navbar-dropdown {
      overflow: hidden;
      z-index: 20;
      font-size: 0.875rem;
      @include bp.breakpoint-up(lg) {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
      }

      @include bp.breakpoint-down(lg) {
        display: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      min-width: 100%;
      background-color: conf.$navbar-dropdown-background-color;
      inset-inline-start: 0;
      border-bottom-left-radius: conf.$navbar-dropdown-border-radius;
      border-bottom-right-radius: conf.$navbar-dropdown-border-radius;
      transition: visibility 0.1s, opacity 0.1s linear;
      border: 1px solid conf.$navbar-dropdown-border-color;

      .navbar-item:hover,
      .navbar-link:hover,
      .navbar-item.is-active {
        background-color: conf.$navbar-dropdown-link-hover-color;
      }

      &.is-active {
        display: block;
      }
    }
  }
}