@use "../config" as conf;
@use "../utils/breakpoints" as bp;

.navbar {
  background-color: conf.$navbar-background-color;
  display: flex;
  align-items: stretch;
  min-height: conf.$min-navbar-height;

  .container {
    display: flex;
    align-items: stretch;
    width: 100%;

    .navbar-brand .navbar-item {
      margin-inline-start: -0.75rem;
    }

    @include bp.breakpoint-down(lg) {
      padding-left: 0;
      padding-right: 0;

      .navbar-brand a {
        &.navbar-item {
          margin-inline-start: 0;
        }

        &.navbar-burger {
          margin-inline-end: 0.75rem;
        }
      }
    }
  }

  .navbar-brand {
    display: flex;
    align-items: stretch;
    @include bp.breakpoint-down(lg) {
      justify-content: space-between;
      width: 100%;
    }
    flex-shrink: 0;

    .navbar-burger {
      @include bp.breakpoint-up(lg) {
        display: none;
      }

      display: inline-flex;
      align-items: center;
      gap: 1px;
      color: conf.$navbar-hamburger-color;
      cursor: pointer;
      flex-direction: column;
      flex-shrink: 0;
      height: 2rem;
      justify-content: center;
      position: relative;
      vertical-align: top;
      width: 2rem;
      align-self: center;

      span {
        background-color: currentColor;
        display: block;
        height: 2px; // TODO
        position: absolute;
        transform-origin: center;
        transition-property: background-color, color, opacity, transform;
        width: 20px;

        &:nth-child(1), &:nth-child(2) {
          left: calc(50% - (20px) / 2); // TODO
        }

        &:nth-child(3) {
          bottom: calc(50% + 5px); // TODO
        }

        &:nth-child(4) {
          top: calc(50% + 5px); // TODO
        }
      }
    }
  }

  .navbar-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;

    &.has-dropdown {
      &:hover > .navbar-dropdown {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .navbar-item,
  .navbar-link {
    line-height: 1.5;
    position: relative;
    color: conf.$navbar-link-color;
    cursor: pointer;
  }

  .navbar-item:hover,
  .navbar-link:hover,
  .navbar-item.is-active {
    background-color: conf.$navbar-link-hover-color;
  }

  .navbar-link {
    padding-inline-end: 2em;

    &::after {
      inset-inline-end: 0.5em;
      border: .125em solid conf.$navbar-link-color;
      border-right: 0;
      border-top: 0;
      content: " ";
      display: block;
      height: .625em;
      margin-top: -0.4375em;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: rotate(-45deg);
      transform-origin: center;
      transition-duration: var(--bulma-duration);
      transition-property: border-color;
      width: .625em
    }
  }

  .navbar-menu {
    display: none;
    @include bp.breakpoint-up(lg) {
      display: flex;
    }

    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0;

    .navbar-start {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
    }

    .navbar-end {
      display: flex;
      align-items: stretch;
      justify-content: flex-end;
      margin-inline-start: auto;
    }

    .navbar-dropdown {
      visibility: hidden;
      opacity: 0;
      overflow: hidden;
      z-index: 20;
      font-size: 0.875rem;
      position: absolute;
      top: 100%;
      min-width: 100%;
      background-color: conf.$navbar-dropdown-background-color;
      inset-inline-start: 0;
      border-bottom-left-radius: conf.$navbar-dropdown-border-radius;
      border-bottom-right-radius: conf.$navbar-dropdown-border-radius;
      transition: visibility 0.1s, opacity 0.1s linear;
      border: 1px solid conf.$navbar-dropdown-border-color;

      .navbar-item:hover,
      .navbar-link:hover,
      .navbar-item.is-active {
        background-color: conf.$navbar-dropdown-link-hover-color;
      }
    }
  }
}