@use "../config" as conf;
@use "../utils/breakpoints" as bp;

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

@for $i from 1 through 12 {
  $width: calc(100% / (12 / $i));
  .col-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-#{$i} {
    flex: 0 0 auto;
    width: $width;
  }
}

@for $i from 1 through 12 {
  $width: calc(100% / (12 / $i));

  @each $breakpoint, $value in conf.$grid-breakpoints {
    @include bp.breakpoint-up($breakpoint) {
      .col-#{$breakpoint}-auto {
        flex: 0 0 auto;
        width: auto;
      }

      .col-#{$breakpoint}-#{$i} {
        flex: 0 0 auto;
        width: $width;
      }
    }
  }
}