@use "../config" as conf;

// Padding & margin
@each $index, $multiplier in conf.$dimensions {
  $value: conf.$spacer * $multiplier;
  .#{conf.$class-prefix}p-#{$index} {
    padding: #{$value}rem !important;
  }

  .#{conf.$class-prefix}pl-#{$index} {
    padding-left: #{$value}rem !important;
  }

  .#{conf.$class-prefix}pr-#{$index} {
    padding-right: #{$value}rem !important;
  }

  .#{conf.$class-prefix}pt-#{$index} {
    padding-top: #{$value}rem !important;
  }

  .#{conf.$class-prefix}pb-#{$index} {
    padding-bottom: #{$value}rem !important;
  }

  .#{conf.$class-prefix}m-#{$index} {
    margin: #{$value}rem !important;
  }

  .#{conf.$class-prefix}ml-#{$index} {
    margin-left: #{$value}rem !important;
  }

  .#{conf.$class-prefix}mr-#{$index} {
    margin-right: #{$value}rem !important;
  }

  .#{conf.$class-prefix}mt-#{$index} {
    margin-top: #{$value}rem !important;
  }

  .#{conf.$class-prefix}mb-#{$index} {
    margin-bottom: #{$value}rem !important;
  }

  .#{conf.$class-prefix}gap-#{$index} {
    gap: #{$value}rem !important;
  }
}