@use "../config" as conf;

// Padding & margin
@each $index, $multiplier in conf.$dimensions {
  $value: conf.$spacer * $multiplier;
  .p-#{$index} {
    padding: #{$value}rem !important;
  }

  .pl-#{$index} {
    padding-left: #{$value}rem !important;
  }

  .pr-#{$index} {
    padding-right: #{$value}rem !important;
  }

  .pt-#{$index} {
    padding-top: #{$value}rem !important;
  }

  .pb-#{$index} {
    padding-bottom: #{$value}rem !important;
  }

  .m-#{$index} {
    margin: #{$value}rem !important;
  }

  .ml-#{$index} {
    margin-left: #{$value}rem !important;
  }

  .mr-#{$index} {
    margin-right: #{$value}rem !important;
  }

  .mt-#{$index} {
    margin-top: #{$value}rem !important;
  }

  .mb-#{$index} {
    margin-bottom: #{$value}rem !important;
  }

  .gap-#{$index} {
    gap: #{$value}rem !important;
  }
}